![QuantConnect Logo](https://cdn.quantconnect.com/web/i/icon.png)
<hr>

In [ ]:
# QuantBook Analysis Tool
# For more information see [https://www.quantconnect.com/docs/v2/our-platform/research/getting-started]
qb = QuantBook()
spy = qb.add_equity("SPY")
aapl = qb.add_equity("AAPL")
goog = qb.add_equity("GOOG")

Price History

In [5]:
history = qb.history(qb.securities.keys(), 365, Resolution.DAILY)

In [4]:
history

                                 close        high         low        open  \
symbol time
SPY    2024-07-22 16:00:00  544.703406  545.312288  541.148324  543.102637
       2024-07-23 16:00:00  543.849008  546.746105  543.357974  544.615020
       2024-07-24 16:00:00  531.524068  539.321679  530.620567  539.007418
       2024-07-25 16:00:00  528.754640  537.632524  527.811855  531.612454
       2024-07-26 16:00:00  534.676503  537.367366  531.779406  532.623983
...                                ...         ...         ...         ...
GOOG   2025-12-26 16:00:00  314.960000  316.530000  313.720000  315.920000
       2025-12-29 16:00:00  314.390000  314.980000  311.900000  312.630000
       2025-12-30 16:00:00  314.550000  317.710000  313.250000  313.560000
       2025-12-31 16:00:00  313.800000  315.400000  312.180000  313.450000
       2026-01-02 16:00:00  315.320000  322.940000  310.650000  317.640000

                                volume
symbol time
SPY    2024-07-22 16:00:00  36141107.0
       2024-07-23 16:00:00  29513091.0
       2024-07-24 16:00:00  61262184.0
       2024-07-25 16:00:00  55621533.0
       2024-07-26 16:00:00  48300418.0
...                                ...
GOOG   2025-12-26 16:00:00   6384458.0
       2025-12-29 16:00:00  11077766.0
       2025-12-30 16:00:00   9458150.0
       2025-12-31 16:00:00   9268695.0
       2026-01-02 16:00:00  20043035.0

[1095 rows x 5 columns]

In [3]:
history.loc[spy.symbol]

,close,high,low,open,volume
time,,,,,
2024-07-22 16:00:00,544.703406,545.312288,541.148324,543.102637,36141107.0
2024-07-23 16:00:00,543.849008,546.746105,543.357974,544.615020,29513091.0
2024-07-24 16:00:00,531.524068,539.321679,530.620567,539.007418,61262184.0
2024-07-25 16:00:00,528.754640,537.632524,527.811855,531.612454,55621533.0
2024-07-26 16:00:00,534.676503,537.367366,531.779406,532.623983,48300418.0
...,...,...,...,...,...
2025-12-26 16:00:00,690.310000,691.650000,689.270000,690.680000,38080190.0
2025-12-29 16:00:00,687.850000,689.190000,686.080000,687.520000,53141672.0
2025-12-30 16:00:00,687.010000,688.550000,686.580000,687.430000,40771849.0
2025-12-31 16:00:00,681.920000,687.360000,681.710000,687.110000,62301226.0
2026-01-02 16:00:00,683.170000,686.870000,679.820000,685.670000,81749661.0

Fundamental Data

In [9]:
ebit_history=qb.GetFundamental(qb.Securities.Keys,
                               "FinancialStatements.IncomeStatement.EBIT.TwelveMonths",
                               datetime(2024,1,1),datetime(2025,12,31))
ebit_history

            AAPL R735QTJ8XC9X  GOOCV VP83T1ZUHROL  SPY R735QTJ8XC9X
2024-01-03       1.176690e+11        7.168500e+10               NaN
2024-01-04       1.176690e+11        7.168500e+10               NaN
2024-01-05       1.176690e+11        7.168500e+10               NaN
2024-01-06       1.176690e+11        7.168500e+10               NaN
2024-01-09       1.176690e+11        7.168500e+10               NaN
...                       ...                 ...               ...
2025-12-25       1.330500e+11        1.200830e+11               NaN
2025-12-27       1.330500e+11        1.200830e+11               NaN
2025-12-30       1.330500e+11        1.200830e+11               NaN
2025-12-31       1.330500e+11        1.200830e+11               NaN
2026-01-01       1.330500e+11        1.200830e+11               NaN

[502 rows x 3 columns]

In [10]:
ebit_history.columns

Index(['AAPL R735QTJ8XC9X', 'GOOCV VP83T1ZUHROL', 'SPY R735QTJ8XC9X'], dtype='object')

In [11]:
ebit_history[ebit_history.columns[0]]

2024-01-03    1.176690e+11
2024-01-04    1.176690e+11
2024-01-05    1.176690e+11
2024-01-06    1.176690e+11
2024-01-09    1.176690e+11
                  ...
2025-12-25    1.330500e+11
2025-12-27    1.330500e+11
2025-12-30    1.330500e+11
2025-12-31    1.330500e+11
2026-01-01    1.330500e+11
Name: AAPL R735QTJ8XC9X, Length: 502, dtype: float64

In [12]:
ebit_history[ebit_history.columns[0]].resample("Q").mean()

/tmp/ipykernel_21/2651406865.py:1: FutureWarning: 'Q' is deprecated and will be removed in a future version, please use 'QE' instead.
  ebit_history[ebit_history.columns[0]].resample("Q").mean()

2024-03-31    1.176690e+11
2024-06-30    1.176690e+11
2024-09-30    1.176690e+11
2024-12-31    1.211359e+11
2025-03-31    1.232160e+11
2025-06-30    1.232160e+11
2025-09-30    1.232160e+11
2025-12-31    1.295159e+11
2026-03-31    1.330500e+11
Freq: QE-DEC, Name: AAPL R735QTJ8XC9X, dtype: float64

Technical Indicators

In [ ]:
# Indicator Analysis
bbdf = qb.indicator(BollingerBands(30, 2), spy.symbol, 360, Resolution.DAILY)
bbdf.drop('standarddeviation', axis=1).plot()